body {
	background-color: #f3f5f7;
}
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	text-decoration: none;
}
li {
	text-decoration: none;
	list-style: none;
}
img{
	border:0;
	vertical-align:middle;
}
